In [1]:
#Importing dependencies
import config
import requests
import pandas as pd
import numpy as np
import datetime
from flask import Flask
from sqlalchemy import create_engine
import json

#Avoiding setting with copy warning
import warnings
warnings.filterwarnings('ignore')

In [2]:
#Importing Redfin Housing Market State Data
raw_county_df = pd.read_csv("Resources/county_market_tracker.tsv000", sep='\t')
raw_county_df.head()

,period_begin,period_end,period_duration,region_type,region_type_id,table_id,is_seasonally_adjusted,region,city,state,...,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,parent_metro_region,parent_metro_region_metro_code,last_updated
0,2017-04-01,2017-04-30,30,county,5,170,f,"Morgan County, AL",NaN,Alabama,...,-0.069595,NaN,NaN,NaN,0.020833,0.020833,0.001225,"Decatur, AL",19460.0,2022-01-09 14:29:56
1,2014-12-01,2014-12-31,30,county,5,1457,f,"Hennepin County, MN",NaN,Minnesota,...,-0.098136,0.097744,-0.121909,-0.197220,0.172414,0.034483,-0.033469,"Minneapolis, MN",33460.0,2022-01-09 14:29:56
2,2018-02-01,2018-02-28,30,county,5,2319,f,"Tulsa County, OK",NaN,Oklahoma,...,-0.024840,0.206004,-0.026139,0.009313,0.479924,0.068277,-0.042568,"Tulsa, OK",46140.0,2022-01-09 14:29:56
3,2017-08-01,2017-08-31,30,county,5,1448,f,"Crow Wing County, MN",NaN,Minnesota,...,NaN,0.200000,-0.050000,NaN,NaN,NaN,NaN,"Brainerd, MN",14660.0,2022-01-09 14:29:56
4,2019-05-01,2019-05-31,30,county,5,1586,f,"Tate County, MS",NaN,Mississippi,...,0.107895,NaN,NaN,NaN,0.000000,-0.111111,-0.100000,"Memphis, TN",32820.0,2022-01-09 14:29:56

In [3]:
#Printing out column values to figure out what data we are interested in
print(raw_county_df.columns)

Index(['period_begin', 'period_end', 'period_duration', 'region_type',
       'region_type_id', 'table_id', 'is_seasonally_adjusted', 'region',
       'city', 'state', 'state_code', 'property_type', 'property_type_id',
       'median_sale_price', 'median_sale_price_mom', 'median_sale_price_yoy',
       'median_list_price', 'median_list_price_mom', 'median_list_price_yoy',
       'median_ppsf', 'median_ppsf_mom', 'median_ppsf_yoy', 'median_list_ppsf',
       'median_list_ppsf_mom', 'median_list_ppsf_yoy', 'homes_sold',
       'homes_sold_mom', 'homes_sold_yoy', 'pending_sales',
       'pending_sales_mom', 'pending_sales_yoy', 'new_listings',
       'new_listings_mom', 'new_listings_yoy', 'inventory', 'inventory_mom',
       'inventory_yoy', 'months_of_supply', 'months_of_supply_mom',
       'months_of_supply_yoy', 'median_dom', 'median_dom_mom',
       'median_dom_yoy', 'avg_sale_to_list', 'avg_sale_to_list_mom',
       'avg_sale_to_list_yoy', 'sold_above_list', 'sold_above_list_mom',
       'sold_above_list_yoy', 'price_drops', 'price_drops_mom',
       'price_drops_yoy', 'off_market_in_two_weeks',
       'off_market_in_two_weeks_mom', 'off_market_in_two_weeks_yoy',
       'parent_metro_region', 'parent_metro_region_metro_code',
       'last_updated'],
      dtype='object')

Property Type

Property type defined by RedFin
- All Residential: All properties defined as single-family, condominium, co-operative, townhouses, and multi-family (2-4 units) homes with a county record.
- Single Family Home (SFH): are homes built on a single lot, with no shared walls. Sometimes thereâ€™s a garage, attached or detached.
- Condominium (Condo): Usually a single unit within a larger building or community. Generally come with homeownersâ€™ associations (HOAs), which require the residents to pay monthly or yearly dues.
- Cooperatives (Co-op): Usually a single unit within a larger building or community, but with a different way of holding a title to a shared building. You join a community and everyone in the community owns the building together.
- Townhouse: a hybrid between a condo and a single-family home. They are often multiple floors, with one or two shared walls, and some have a small yard space or rooftop deck. Theyâ€™re generally larger than a condo, but smaller than a single-family home.
- Multifamily (2-4 units): They are essentially a home that has been turned into two or more units but the units cannot be purchased individually. There is one owner for the whole building.
- Land: Just land, no home of any type for sale.

Columns:

- Home sales: Total number of homes with a sale date during a given time period.
- Total active listings: The total number of listings that were active at any point during a given time period.
- Median sale price: The final home sale price covering all homes with a sale date during a given time period where 50% of the sales were above this price and 50% were below this price.
- Median sale price per square foot: The final home sale price divided by the total square feet of the property (not the lot) covering all homes with a sale date during a given time period where 50% of the sales were above this price per sqft and 50% were below this price per sqft.

In [4]:
#Checking for outliers
raw_county_df['property_type'].value_counts()

All Residential              179003
Single Family Residential    178662
Condo/Co-op                   74594
Multi-Family (2-4 Unit)       70143
Townhouse                     60720
Name: property_type, dtype: int64

In [6]:
# calling only the columns we want to keep for our analysis
county_df = raw_county_df[["period_end","region","parent_metro_region","state","property_type","inventory","homes_sold","median_sale_price","median_ppsf"]]
county_df.head()

,period_end,region,parent_metro_region,state,property_type,inventory,homes_sold,median_sale_price,median_ppsf
0,2017-04-30,"Morgan County, AL","Decatur, AL",Alabama,All Residential,439.0,106.0,120500.0,75.845434
1,2014-12-31,"Hennepin County, MN","Minneapolis, MN",Minnesota,Multi-Family (2-4 Unit),133.0,57.0,203000.0,86.633333
2,2018-02-28,"Tulsa County, OK","Tulsa, OK",Oklahoma,All Residential,2665.0,665.0,167500.0,89.765580
3,2017-08-31,"Crow Wing County, MN","Brainerd, MN",Minnesota,Condo/Co-op,5.0,3.0,125000.0,147.076613
4,2019-05-31,"Tate County, MS","Memphis, TN",Mississippi,Single Family Residential,80.0,19.0,165000.0,85.000000

In [7]:
# convert period_end to datetime
county_df["period_end"] =  pd.to_datetime(county_df["period_end"])
county_df

,period_end,region,parent_metro_region,state,property_type,inventory,homes_sold,median_sale_price,median_ppsf
0,2017-04-30,"Morgan County, AL","Decatur, AL",Alabama,All Residential,439.0,106.0,120500.0,75.845434
1,2014-12-31,"Hennepin County, MN","Minneapolis, MN",Minnesota,Multi-Family (2-4 Unit),133.0,57.0,203000.0,86.633333
2,2018-02-28,"Tulsa County, OK","Tulsa, OK",Oklahoma,All Residential,2665.0,665.0,167500.0,89.765580
3,2017-08-31,"Crow Wing County, MN","Brainerd, MN",Minnesota,Condo/Co-op,5.0,3.0,125000.0,147.076613
4,2019-05-31,"Tate County, MS","Memphis, TN",Mississippi,Single Family Residential,80.0,19.0,165000.0,85.000000
...,...,...,...,...,...,...,...,...,...
563117,2013-03-31,"Gonzales County, TX",Texas nonmetropolitan area,Texas,All Residential,28.0,2.0,291500.0,83.404488
563118,2013-09-30,"Valley County, ID",Idaho nonmetropolitan area,Idaho,Townhouse,7.0,1.0,221500.0,131.923764
563119,2016-06-30,"Livingston Parish, LA","Baton Rouge, LA",Louisiana,All Residential,602.0,197.0,173990.0,108.063175
563120,2017-09-30,"Gloucester County, VA","Virginia Beach, VA",Virginia,Single Family Residential,79.0,9.0,170000.0,113.502506
563121,2018-09-30,"Mayes County, OK",Oklahoma nonmetropolitan area,Oklahoma,All Residential,167.0,33.0,128000.0,84.753788

In [8]:
# filtering out all data before 2019
county_df = county_df.loc[county_df['period_end'] > '2018-12-31']
county_df

,period_end,region,parent_metro_region,state,property_type,inventory,homes_sold,median_sale_price,median_ppsf
4,2019-05-31,"Tate County, MS","Memphis, TN",Mississippi,Single Family Residential,80.0,19.0,165000.0,85.000000
6,2019-12-31,"Madison County, AL","Huntsville, AL",Alabama,Multi-Family (2-4 Unit),8.0,4.0,78500.0,34.880015
11,2021-01-31,"Hood River County, OR","Hood River, OR",Oregon,All Residential,18.0,21.0,650000.0,300.167926
12,2020-10-31,"Lincoln County, CO",Colorado nonmetropolitan area,Colorado,Single Family Residential,9.0,8.0,152450.0,104.869225
14,2021-10-31,"Murray County, OK",Oklahoma nonmetropolitan area,Oklahoma,Single Family Residential,50.0,13.0,185500.0,105.000000
...,...,...,...,...,...,...,...,...,...
563094,2020-10-31,"Hood River County, OR","Hood River, OR",Oregon,Condo/Co-op,1.0,1.0,265000.0,207.517619
563099,2021-01-31,"Columbia County, WA",Washington nonmetropolitan area,Washington,Single Family Residential,10.0,2.0,386000.0,187.768947
563102,2021-02-28,"Lancaster County, PA","Lancaster, PA",Pennsylvania,All Residential,365.0,375.0,239500.0,141.414640
563110,2020-06-30,"Sauk County, WI","Baraboo, WI",Wisconsin,Single Family Residential,264.0,75.0,244900.0,125.218659
563115,2019-12-31,"Duchesne County, UT",Utah nonmetropolitan area,Utah,Single Family Residential,103.0,13.0,230000.0,88.919289

In [9]:
# sorting by date and resetting index
county_df = county_df.sort_values(by=['period_end'],ascending=False).reset_index(drop=True)
county_df

,period_end,region,parent_metro_region,state,property_type,inventory,homes_sold,median_sale_price,median_ppsf
0,2021-12-31,"Calhoun County, AL","Anniston, AL",Alabama,All Residential,229.0,124.0,165250.0,100.791300
1,2021-12-31,"Tattnall County, GA",Georgia nonmetropolitan area,Georgia,All Residential,6.0,6.0,227450.0,121.116424
2,2021-12-31,"Jefferson County, CO","Denver, CO",Colorado,All Residential,242.0,836.0,570500.0,272.355277
3,2021-12-31,"Monroe County, MI","Monroe, MI",Michigan,Multi-Family (2-4 Unit),13.0,6.0,117850.0,75.228783
4,2021-12-31,"Gila County, AZ","Payson, AZ",Arizona,All Residential,62.0,38.0,425000.0,236.012212
...,...,...,...,...,...,...,...,...,...
184313,2019-01-31,"Walworth County, WI","Whitewater, WI",Wisconsin,Single Family Residential,450.0,70.0,191000.0,123.975410
184314,2019-01-31,"Haywood County, NC","Asheville, NC",North Carolina,All Residential,447.0,52.0,201750.0,132.706230
184315,2019-01-31,"Douglas County, OR","Roseburg, OR",Oregon,Multi-Family (2-4 Unit),6.0,7.0,249000.0,101.461039
184316,2019-01-31,"Buffalo County, WI",Wisconsin nonmetropolitan area,Wisconsin,All Residential,48.0,7.0,128000.0,76.333333
184317,2019-01-31,"Oneida County, ID",Idaho nonmetropolitan area,Idaho,All Residential,8.0,2.0,97500.0,75.347831

In [10]:
# checking for null values
county_df.isnull().sum()

period_end                0
region                    0
parent_metro_region       0
state                     0
property_type             0
inventory              7657
homes_sold              303
median_sale_price       303
median_ppsf            2196
dtype: int64

In [11]:
# dropping rows without values for homes sold and median sale price
clean_county_df = county_df.dropna(subset = ["homes_sold"])
clean_county_df.head()

,period_end,region,parent_metro_region,state,property_type,inventory,homes_sold,median_sale_price,median_ppsf
0,2021-12-31,"Calhoun County, AL","Anniston, AL",Alabama,All Residential,229.0,124.0,165250.0,100.791300
1,2021-12-31,"Tattnall County, GA",Georgia nonmetropolitan area,Georgia,All Residential,6.0,6.0,227450.0,121.116424
2,2021-12-31,"Jefferson County, CO","Denver, CO",Colorado,All Residential,242.0,836.0,570500.0,272.355277
3,2021-12-31,"Monroe County, MI","Monroe, MI",Michigan,Multi-Family (2-4 Unit),13.0,6.0,117850.0,75.228783
4,2021-12-31,"Gila County, AZ","Payson, AZ",Arizona,All Residential,62.0,38.0,425000.0,236.012212

In [12]:
# checking for additional null values
clean_county_df.isnull().sum()

period_end                0
region                    0
parent_metro_region       0
state                     0
property_type             0
inventory              7646
homes_sold                0
median_sale_price         0
median_ppsf            1893
dtype: int64

In [13]:
# dropping rows with null values in the median price per square foot column
clean_county_df = clean_county_df.dropna(subset = ["median_ppsf"])
clean_county_df.head()

,period_end,region,parent_metro_region,state,property_type,inventory,homes_sold,median_sale_price,median_ppsf
0,2021-12-31,"Calhoun County, AL","Anniston, AL",Alabama,All Residential,229.0,124.0,165250.0,100.791300
1,2021-12-31,"Tattnall County, GA",Georgia nonmetropolitan area,Georgia,All Residential,6.0,6.0,227450.0,121.116424
2,2021-12-31,"Jefferson County, CO","Denver, CO",Colorado,All Residential,242.0,836.0,570500.0,272.355277
3,2021-12-31,"Monroe County, MI","Monroe, MI",Michigan,Multi-Family (2-4 Unit),13.0,6.0,117850.0,75.228783
4,2021-12-31,"Gila County, AZ","Payson, AZ",Arizona,All Residential,62.0,38.0,425000.0,236.012212

In [14]:
# checking for remaining null values
clean_county_df.isnull().sum()

period_end                0
region                    0
parent_metro_region       0
state                     0
property_type             0
inventory              7444
homes_sold                0
median_sale_price         0
median_ppsf               0
dtype: int64

In [15]:
# not sure if we should drop those rows or if null = 0?

In [17]:
# when doing test queries in sql I noticed that union county and fayette county in OH had higher sale values thatn NY and Nantucket
# checking high sale values to see if there are other values that might contain errors
test_df = clean_county_df.loc[clean_county_df['median_sale_price'] > 5000000].sort_values(by=['median_sale_price'],ascending=False)
test_df.head(30)
# we need to drop index #89956 and #81782 - those values cannot be correct, right?

,period_end,region,parent_metro_region,state,property_type,inventory,homes_sold,median_sale_price,median_ppsf
89956,2020-08-31,"Union County, OH","Columbus, OH",Ohio,Multi-Family (2-4 Unit),NaN,1.0,999999999.0,1.000000e+09
81782,2020-09-30,"Fayette County, OH","Washington Court House, OH",Ohio,Condo/Co-op,1.0,2.0,500099999.5,4.055778e+04
157268,2019-06-30,"New York County, NY","New York, NY",New York,Townhouse,19.0,4.0,20650000.0,2.560714e+03
84410,2020-09-30,"New York County, NY","New York, NY",New York,Townhouse,14.0,1.0,19920000.0,2.735888e+03
95590,2020-07-31,"New York County, NY","New York, NY",New York,Single Family Residential,91.0,4.0,17250000.0,1.363636e+03
2377,2021-12-31,"New York County, NY","New York, NY",New York,Townhouse,83.0,5.0,14425000.0,2.536443e+03
80564,2020-10-31,"Gillespie County, TX","Fredericksburg, TX",Texas,Single Family Residential,11.0,2.0,12250000.0,8.000000e+02
79021,2020-10-31,"Gillespie County, TX","Fredericksburg, TX",Texas,All Residential,11.0,2.0,12250000.0,8.000000e+02
61921,2021-01-31,"New York County, NY","New York, NY",New York,Townhouse,20.0,2.0,11975000.0,2.246803e+03
121425,2020-01-31,"New York County, NY","New York, NY",New York,Single Family Residential,90.0,5.0,11850000.0,1.174731e+03
106966,2020-04-30,"New York County, NY","New York, NY",New York,Townhouse,15.0,2.0,11587500.0,2.073165e+03
166885,2019-04-30,"New York County, NY","New York, NY",New York,Single Family Residential,112.0,8.0,11395750.0,2.381869e+03
40855,2021-05-31,"New York County, NY","New York, NY",New York,Single Family Residential,158.0,6.0,11250000.0,2.425743e+03
151540,2019-07-31,"Scott County, KY","Lexington, KY",Kentucky,Multi-Family (2-4 Unit),1.0,1.0,11094000.0,5.502976e+03
129506,2019-12-31,"New York County, NY","New York, NY",New York,Townhouse,22.0,1.0,10750000.0,7.372608e+02
39069,2021-05-31,"New York County, NY","New York, NY",New York,Townhouse,59.0,2.0,10610000.0,1.941263e+03
158349,2019-06-30,"New York County, NY","New York, NY",New York,Single Family Residential,107.0,22.0,10597500.0,1.821429e+03
123591,2020-01-31,"New York County, NY","New York, NY",New York,Townhouse,22.0,1.0,10500000.0,1.346154e+03
167612,2019-04-30,"Maui County, HI","Kahului, HI",Hawaii,Multi-Family (2-4 Unit),1.0,1.0,10300000.0,1.498182e+03
133905,2019-11-30,"New York County, NY","New York, NY",New York,Townhouse,25.0,1.0,9999999.0,1.111111e+03
105453,2020-05-31,"New York County, NY","New York, NY",New York,Single Family Residential,73.0,3.0,9794000.0,2.033139e+03
135204,2019-10-31,"New York County, NY","New York, NY",New York,Single Family Residential,100.0,9.0,9737500.0,1.739444e+03
144932,2019-09-30,"New York County, NY","New York, NY",New York,Single Family Residential,100.0,4.0,9487500.0,2.435334e+03
114494,2020-03-31,"New York County, NY","New York, NY",New York,Multi-Family (2-4 Unit),111.0,8.0,9225000.0,1.194967e+03
82359,2020-09-30,"New York County, NY","New York, NY",New York,Single Family Residential,102.0,6.0,9000000.0,1.626667e+03
72834,2020-11-30,"New York County, NY","New York, NY",New York,Single Family Residential,97.0,7.0,8750000.0,1.669643e+03
175074,2019-02-28,"New York County, NY","New York, NY",New York,Single Family Residential,93.0,5.0,8750000.0,1.475529e+03
50176,2021-03-31,"New York County, NY","New York, NY",New York,Single Family Residential,119.0,10.0,8100000.0,1.821429e+03
37369,2021-06-30,"New York County, NY","New York, NY",New York,Single Family Residential,180.0,20.0,7950000.0,1.466548e+03
10202,2021-11-30,"New York County, NY","New York, NY",New York,Townhouse,92.0,5.0,7920000.0,1.854256e+03

In [21]:
clean_county_df["county"] = clean_county_df["region"].str[:-2]
clean_county_df["county"] = clean_county_df["county"] + clean_county_df["state"]
clean_county_df["county"]

clean_county_df = clean_county_df[["period_end","parent_metro_region","county","state","property_type","inventory","homes_sold","median_sale_price","median_ppsf"]]
clean_county_df

,period_end,parent_metro_region,county,state,property_type,inventory,homes_sold,median_sale_price,median_ppsf
0,2021-12-31,"Anniston, AL","Calhoun County, Alabama",Alabama,All Residential,229.0,124.0,165250.0,100.791300
1,2021-12-31,Georgia nonmetropolitan area,"Tattnall County, Georgia",Georgia,All Residential,6.0,6.0,227450.0,121.116424
2,2021-12-31,"Denver, CO","Jefferson County, Colorado",Colorado,All Residential,242.0,836.0,570500.0,272.355277
3,2021-12-31,"Monroe, MI","Monroe County, Michigan",Michigan,Multi-Family (2-4 Unit),13.0,6.0,117850.0,75.228783
4,2021-12-31,"Payson, AZ","Gila County, Arizona",Arizona,All Residential,62.0,38.0,425000.0,236.012212
...,...,...,...,...,...,...,...,...,...
184313,2019-01-31,"Whitewater, WI","Walworth County, Wisconsin",Wisconsin,Single Family Residential,450.0,70.0,191000.0,123.975410
184314,2019-01-31,"Asheville, NC","Haywood County, North Carolina",North Carolina,All Residential,447.0,52.0,201750.0,132.706230
184315,2019-01-31,"Roseburg, OR","Douglas County, Oregon",Oregon,Multi-Family (2-4 Unit),6.0,7.0,249000.0,101.461039
184316,2019-01-31,Wisconsin nonmetropolitan area,"Buffalo County, Wisconsin",Wisconsin,All Residential,48.0,7.0,128000.0,76.333333
184317,2019-01-31,Idaho nonmetropolitan area,"Oneida County, Idaho",Idaho,All Residential,8.0,2.0,97500.0,75.347831

In [22]:
#Importing 2020 - 2021 census bureau data
cb2021_df = pd.read_csv("Resources/co-est2021-alldata.csv", encoding='latin-1')
cb2021_df["county"] = cb2021_df["CTYNAME"] + ", " + cb2021_df["STNAME"]
cb2021_df = cb2021_df[["county", "STNAME", "ESTIMATESBASE2020", "POPESTIMATE2020","POPESTIMATE2021"]]
cb2021_df = cb2021_df.rename(columns={"STNAME": "state", "ESTIMATESBASE2020":"estimates_base_2020","POPESTIMATE2020":"pop_estimate_2020", "POPESTIMATE2021":"pop_estimate_2021"})
cb2021_df

,county,state,estimates_base_2020,pop_estimate_2020,pop_estimate_2021
0,"Alabama, Alabama",Alabama,5024279,5024803,5039877
1,"Autauga County, Alabama",Alabama,58805,58877,59095
2,"Baldwin County, Alabama",Alabama,231767,233140,239294
3,"Barbour County, Alabama",Alabama,25223,25180,24964
4,"Bibb County, Alabama",Alabama,22293,22223,22477
...,...,...,...,...,...
3189,"Sweetwater County, Wyoming",Wyoming,42272,42158,41614
3190,"Teton County, Wyoming",Wyoming,23331,23347,23575
3191,"Uinta County, Wyoming",Wyoming,20450,20441,20635
3192,"Washakie County, Wyoming",Wyoming,7685,7658,7705
3193,"Weston County, Wyoming",Wyoming,6838,6809,6745

In [23]:
#Importing 2019 census bureau data
cb2019_df = pd.read_csv("Resources/co-est2019-alldata.csv", encoding='latin-1')
cb2019_df["county"] = cb2019_df["CTYNAME"] + ", " + cb2019_df["STNAME"]
cb2019_df = cb2019_df[["county", "STNAME", "POPESTIMATE2019"]]
cb2019_df = cb2019_df.rename(columns={"STNAME": "state", "POPESTIMATE2019":"pop_estimate_2019"})
cb2019_df

                          county    state  pop_estimate_2019
0               Alabama, Alabama  Alabama            4903185
1        Autauga County, Alabama  Alabama              55869
2        Baldwin County, Alabama  Alabama             223234
3        Barbour County, Alabama  Alabama              24686
4           Bibb County, Alabama  Alabama              22394
...                          ...      ...                ...
3188  Sweetwater County, Wyoming  Wyoming              42343
3189       Teton County, Wyoming  Wyoming              23464
3190       Uinta County, Wyoming  Wyoming              20226
3191    Washakie County, Wyoming  Wyoming               7805
3192      Weston County, Wyoming  Wyoming               6927

[3193 rows x 3 columns]

In [24]:
census_df = cb2019_df.merge(cb2021_df, on=["county","state"])
census_df

,county,state,pop_estimate_2019,estimates_base_2020,pop_estimate_2020,pop_estimate_2021
0,"Alabama, Alabama",Alabama,4903185,5024279,5024803,5039877
1,"Autauga County, Alabama",Alabama,55869,58805,58877,59095
2,"Baldwin County, Alabama",Alabama,223234,231767,233140,239294
3,"Barbour County, Alabama",Alabama,24686,25223,25180,24964
4,"Bibb County, Alabama",Alabama,22394,22293,22223,22477
...,...,...,...,...,...,...
3189,"Sweetwater County, Wyoming",Wyoming,42343,42272,42158,41614
3190,"Teton County, Wyoming",Wyoming,23464,23331,23347,23575
3191,"Uinta County, Wyoming",Wyoming,20226,20450,20441,20635
3192,"Washakie County, Wyoming",Wyoming,7805,7685,7658,7705
3193,"Weston County, Wyoming",Wyoming,6927,6838,6809,6745

In [26]:
# should we group county housing data by year before merging with census data? or do we not merge and then have as separate tables in sql?

In [14]:
# !Must create housing_db database in pgAdmin before running this! 
# schema.sql file has code to create table named county_data

# Structure the database url from the config.py file and create the database engine
url = f'{config.user}:{config.password}@{config.hostname}:{config.port}/housing_db'
engine = create_engine(f'postgresql://{url}', pool_pre_ping=True)

In [15]:
# After running schema.sql in your housing_db, check that the table exists
engine.table_names()

['county_data']

In [16]:
# Load the DataFrame to the database
clean_county_df.to_sql(name='county_data', con=engine, if_exists='append', index=False)